* {
  font-family: sans-serif;
}

.gameSec {
  max-width: 500px;
  margin: 0 auto;
}
.gameSec .compSec {
  display: flex;
  justify-content: space-between;
}

.gameSec .compSec img {
  width: 200px;
}

.gameSec .compSec #comp1 {
  transform: rotate(117deg);
}
.gameSec .compSec #comp2 {
  transform: rotate(235deg);
}
.gameSec .playerSec img {
  width: 200px;
}
.gameSec .playerSec {
  display: flex;
  justify-content: center;
}
